.loginLayout {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/loginForm-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.loginLayoutDesign {
    padding: 16px;
    width: 100%;
    max-width: 400px;
    box-shadow: 26px 26px 12px rgba(41, 40, 40, 0.1);
    background-color:white;
    border-radius: 8px;
    border: 1px solid white;
}

.loginText {
    font-size: 16px;
    font-weight: bolder;
}

@media (min-width: 600px) {
    .loginText {
        font-size: 20px;
    }
}

@media (min-width: 900px) {
    .loginText {
        font-size: 24px;
    }
}

.IconDesign {
    font-size: 10px;
}

@media (min-width: 600px) {
    .IconDesign {
        font-size: 12px;
    }
}

@media (min-width: 900px) {
    .IconDesign {
        font-size: 14px;
    }
}

.loginButtonDesign {
    margin-top: 16px;
    font-size: 12px;
}

@media (min-width: 600px) {
    .loginButtonDesign {
        font-size: 14px;
    }
}

@media (min-width: 900px) {
    .loginButtonDesign {
        font-size: 16px;
    }
}

.text {
    font-size: 12px;
    margin-top: 16px;
}

@media (min-width: 600px) {
    .text {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .text {
        font-size: 17px;
    }
}